<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>Document</title>

<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/swiper.min.css" />
<link rel="stylesheet" href="/css/animate.min.css" />
<link rel="stylesheet" href="/css/team-card.css" />
<link rel="stylesheet" href="/css/post.css" />
</head>
<body class="loaded">
	<div layout:fragment="content">



		<section class="page-header">
			<div class="page-header-shape">
				<div class="shape"></div>
				<div class="shape center back teamdetail">
					<ul class="teamdetail-info pt-3">
						<li>[[${createBy}]]</li>
						<li th:text="${#temporals.format(post.regTime, 'yyyy-MM-dd')}"></li>
					</ul>
					<div></div>
				</div>
				<div class="shape right"></div>
			</div>
			<div class="container">
				<div class="page-header-info">
					<div class="page-header-up">
						<img src="/images/page-up4.jpg" alt="" class="page-header-img" />
					</div>
					<h2>[[${post.postTitle}]]</h2>
				</div>
			</div>
		</section>
		<!-- /.page-header -->

		<section class="blog-section blog-page padding-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2">
						<div class="/post/details">
							<div class="post-thumb"
								style="text-align: center; margin-bottom: 50px;">
								<img th:src="${post.postImageDtoList[0].postImageUrl}"
									th:alt="${post.postTitle}" />
							</div>
							<p>[[${post.postText}]]</p>
							<!-- <ul class="post-details-gallery">
                <li><img src="/images/post-1.jpg" alt="img" /></li>
                <li><img src="/images/post-2.jpg" alt="img" /></li>
              </ul> -->
							<!--Gallary-->

							<ul class="tags">
								<li><a href="#">Business</a></li>
								<li><a href="#">Marketing</a></li>
								<li><a href="#">Startup</a></li>
								<li><a href="#">Design</a></li>
							</ul>
							<!--Tags-->

							<ul class="post-navigation">
								<li><a href="/post/details"><span><i
											class="las la-angle-left"></i>Previous</span>How To Start Initiating
										An Startup In Few Days.</a></li>
								<li><a href="/post/details"><span>Next<i
											class="las la-angle-right"></i></span>Fresh Startup Ideas For
										Digital Business.</a></li>
							</ul>
							<!--Post Navigations-->


							<div class="comment-post pt-100">

								<h3 class="comment-title">Post Comments</h3>

								<ul class="comments-box">

									<li class="comment">
										<div class="comment-inner">
										<input type="hidden" th:field="${post.id}">
											<th:block th:each="comment, status: ${commentDtoList}">
											<div class="comment-thumb"><img src="/images/black-cat-logo.png" alt="logo"></div>
											<div class="comment-wrap">
											
											<div class="comments-list pt-5">
												<div class="comments-meta">
													<h4>writeUsers(non-public)[[${comment.createdBy}]] 
														<span>[[${comment.regTime}]]</span>
													</h4>
												</div>
												<div class="comment-area">
													<p>[[${comment.content}]]</p>
													<button class="delete"
															type="button" th:value="${comment.id}"
															onclick="deleteComment(this.value)">delete</button>
												</div>
											</div>
												
											</div>
											</th:block>
										</div>
									</li>

								</ul>

							</div>

							<!--Comments-->

							<div class="pt-50">
								<h3 class="comment-title">Leave a Comment</h3>

								<form th:action="@{/post/}+${post.id}+ @{/comment}"
									method="post">
									<div class="col-md-12 padding-15" style="line-height: initial;">
										<textarea name="content" cols="30" rows="5"
											class="form-control comment"
											placeholder="create your comments"></textarea>
									</div>

									<button id="" class="default-btn" type="button">
										<a href="/post">Back</a> <span></span>
									</button>
									<button type="submit" class="default-btn">
										Submit<i class="fas fa-arrow-circle-right"
											style="padding-left: 10px;"></i>
									</button>
								</form>




							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Blog Section-->

	</div>
</body>
</html>
