@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700&display=swap");

body {
  background-color: #1b0e22;
  background-image: url(../images/body-bg.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  font-family: "Oxanium", sans-serif;
  font-size: 17px;
  line-height: 27px;
  color: #ddd;
  font-weight: 400;
  letter-spacing: -0.2px;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oxanium", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

h1 {
  font-size: 45px;
  font-weight: 600;
  line-height: 55px;
  margin: 0 0 10px;
  color: #fff;
}

h2 {
  font-size: 32px;
  line-height: 42px;
  color: #fff;
  margin: 0 0 10px;
  font-weight: 600;
  letter-spacing: -1px;
}

h3,
h4 {
  margin: 0 0 10px;
  font-weight: 500;
  line-height: 1.7;
  color: #fff;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5,
h6 {
  font-size: 14px;
  margin: 0 0 10px;
}

p {
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 15px;
}

a {
  color: #fff;
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #9841ff;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

img {
  border: none;
  outline: none;
  max-width: 100%;
}

ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

/*** 1.1 - Form Input Color ***/

/*** 1.2 - Padding Classes ***/
.padding {
  padding: 100px 0;
}

.padding-top {
  padding-top: 100px;
}

.padding-bottom {
  padding-bottom: 100px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-120 {
  padding-top: 120px;
}

.pb-30 {
  padding-bottom: 30px;
}

.no-padding {
  padding: 0;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}

/*** 1.3 - Background Colors  ***/

/*** 1.4 - Border Classes  ***/

/*** 1.5 - Margin Classes  ***/
.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-40 {
  margin-left: 40px;
}

/*** 1.6 - Transition Effect  ***/
a,
a:hover,
img,
.form-control,
.form-control:hover,
button {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/*** 1.7 - Scrollbar Style  ***/
::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0.05);
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #9841ff;
}

::selection {
  background-color: #9841ff;
  color: #fff;
}

-webkit-::selection {
  background-color: #9841ff;
  color: #fff;
}

::-moz-selection {
  background-color: #9841ff;
  color: #fff;
}

/*** 1.8 - Preloader  ***/
body {
  overflow: hidden;
}
body.loaded {
  overflow: inherit;
  overflow-x: hidden;
}
.loaded .site-preloader {
  opacity: 0;
  visibility: hidden;
}

.site-preloader {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: #fff;
  top: 0;
  left: 0;
}

.site-preloader .spinner {
  background-color: #9841ff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-animation: scaleout 1s infinite ease-in-out;
  animation: scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/*** 1.9 - Custom Cursor  ***/

/*** 1.10 - Default Button  ***/
.btn-group {
  align-items: center;
  gap: 20px;
}

.btn-group a {
  margin: 5px;
}

.btn-group-left a {
  margin-right: 10px;
}

.review-more {
  text-align: center;
}

.default-btn {
  background: #f90cff;
  background-image: linear-gradient(
    to right bottom,
    #f90cff,
    #e027ff,
    #c534ff,
    #a93eff,
    #8a44ff,
    #6560ff,
    #3c73ff,
    #0081ff,
    #009cff,
    #00b3ff,
    #00c6f5,
    #0cd7e8
  );
  clip-path: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
  color: #fff;
  font-family: "Oxanium", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  min-width: 180px;
  height: 50px;
  line-height: 50px;
  padding: 0 40px;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  transition: all ease 700ms;
  -moz-transition: all ease 700ms;
  -webkit-transition: all ease 700ms;
  -ms-transition: all ease 700ms;
  -o-transition: all ease 700ms;
  z-index: 1;
}

.default-btn:hover {
  color: #fff;
}

.default-btn span {
  background: #9841ff none repeat scroll 0 0;
  border-radius: 50%;
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: width 0.6s ease 0s, height 0.6s ease 0s;
  -moz-transition: width 0.6s ease 0s, height 0.6s ease 0s;
  -webkit-transition: width 0.6s ease 0s, height 0.6s ease 0s;
  -ms-transition: width 0.6s ease 0s, height 0.6s ease 0s;
  -o-transition: width 0.6s ease 0s, height 0.6s ease 0s;
  z-index: -1;
}

/*** 1.11 - Section Heading  ***/

.section-heading-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-heading h3 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
}

.section-heading h2 {
  font-size: 45px;
  line-height: 50px;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}

.section-heading h2 span {
  color: #9841ff;
}

.section-heading p {
  margin-bottom: 0;
}

/*** 1.12 - Check List  ***/

/*** 2.0 - Page Header  ***/
.page-header {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.page-header.single {
  height: 550px;
}

.page-header.error404 {
  height: 600px;
}

.page-header:before {
  background: linear-gradient(
    90deg,
    rgba(152, 65, 255, 0.5) 0%,
    rgba(152, 65, 255, 1) 50%,
    rgba(152, 65, 255, 0.5) 100%
  );
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.page-header .page-header-shape .shape {
  background: #f90cff;
  background-image: linear-gradient(
    to right bottom,
    #f90cff,
    #e027ff,
    #c534ff,
    #a93eff,
    #8a44ff,
    #6560ff,
    #3c73ff,
    #0081ff,
    #009cff,
    #00b3ff,
    #00c6f5,
    #0cd7e8
  );
  clip-path: polygon(0 0, 100% 0%, 85% 100%, 0 100%);
  width: 200px;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
}

.page-header .page-header-shape .shape:before {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25) 1px,
    transparent 1px,
    transparent 6px
  );
  background-size: 4px 4px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.page-header .page-header-shape .shape.right {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
}

.page-header .page-header-shape .shape.center {
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 5px;
}

.page-header .page-header-shape .shape.center.back {
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  width: 400px;
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  opacity: 0.5;
  border-radius: 2px;
  z-index: -1;
}

.page-header-info {
  text-align: center;
}

.page-header-info h4 {
  font-family: "Oxanium", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
  color: #9841ff;
  display: inline-block;
}

.page-header-info h2 {
  color: #fff;
  font-size: 46px;
  margin-bottom: 20px;
}

.page-header.single .page-header-info h2 {
  line-height: 52px;
}

.page-header-info p {
  color: #ddd;
  margin: 0;
}

.page-header .post-meta {
  margin-top: 20px;
}

.page-header-up {
  width: auto;
}

.page-header-img {
  height: 100px;

  width: 100px;

  margin-left: 10px;

  border-radius: 50%;
}
/*** 3.0 - Team Details  ***/

/*Overlay*/

/* Ratings */

/*** 4.0 - Scroll Up  ***/

/* max-width 1024px */
@media (max-width: 1024px) {
}

/* max-width 992px */
@media (max-width: 992px) {
  .padding {
    padding: 50px 0;
  }

  .sm-padding {
    padding: 15px;
  }

  p br {
    display: none;
  }

  span br {
    display: none;
  }

  .default-btn {
    padding: 0 30px;
  }

  .post-card .post-content h3 {
    font-size: 20px;
    line-height: 26px;
  }
}

/* max-width 768px */
@media all and (max-width: 768px) {
  .padding {
    padding: 50px 0;
  }

  .xs-padding {
    padding: 15px;
  }

  p br {
    display: none;
  }

  .page-header-info h2 {
    font-size: 32px;
    line-height: 36px;
  }

  .post-details p {
    font-size: 17px;
    line-height: 27px;
  }
}

/* max-width 580px */
@media all and (max-width: 580px) {
  #scrollup {
    bottom: 20px;
    right: 20px;
  }
}

.default-btn:hover span {
  height: 550px;
  width: 550px;
}

/*** 1.0 - Header ***/
.header {
  background: #0c0c35;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 99;
}

.header:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -18px;
  width: 175px;
  height: 18px;
  background: #0c0c35;
  clip-path: polygon(0 0, 100% 0%, 82% 100%, 0% 100%);
}

.header:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -18px;
  width: 175px;
  height: 18px;
  background: #0c0c35;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 18% 100%);
}
.logo {
  width: 80px;
  height: 80px;
}
.header-logo img {
  max-width: 100%;
}

.header-logo .dark {
  display: none;
}

.sticky-header.sticky-fixed-top .header-logo .light {
  display: none;
}

.sticky-header.sticky-fixed-top .header-logo .dark {
  display: block;
}

/*** 2.0 - Top Bar ***/
.top-bar {
  background-color: #07122d;
}

.top-bar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.top-bar .top-left li {
  font-size: 14px;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;
}

.top-bar .top-left li:first-child {
  margin-right: 10px;
}

.top-bar .top-left li a {
  color: #fff;
  text-decoration: none;
}

.top-bar .top-social li {
  display: inline-block;
  margin-left: 13px;
}

.top-bar .top-social li:first-child {
  margin-left: 0;
}

.top-bar .top-social li a {
  color: #fff;
  font-size: 12px;
}

.top-bar .top-social li a:hover {
  color: #ddd;
}

@media (max-width: 767px) {
  .top-bar .top-right {
    display: none;
  }

  .top-bar .top-left li,
  .top-bar .top-left li:first-child {
    border: none;
  }

  .top-bar .top-left li {
    padding-left: 0;
    padding-right: 20px;
  }
}

/*** 3.0 - Sticky Header ***/
.sticky-header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  z-index: 99;
}

.sticky-header .primary-header {
  background: #0c0c35;
  box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 30%);
}

.sticky-header.sticky-fixed-top {
  transition: transform 1s ease;
  will-change: transform;
  transform: translateY(0);
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*** 4.0 - Burger Menu ***/
.mobile-menu-icon {
  display: none;
}

.burger-menu {
  width: 20px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  -webkit-transition: transform 330ms ease-out;
  -moz-transition: transform 330ms ease-out;
  -o-transition: transform 330ms ease-out;
  transition: transform 330ms ease-out;
}

.burger-menu.menu-open {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.dark-text .line-menu,
.line-menu {
  background-color: #222222;
  border-radius: 2px;
  width: 100%;
  height: 3px;
}

.line-menu.line-half {
  width: 50%;
}

.line-menu.first-line {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.menu-open .line-menu.first-line {
  -webkit-transline-menuform: rotate(-90deg) translateX(3px);
  -moz-transform: rotate(-90deg) translateX(3px);
  -o-transform: rotate(-90deg) translateX(3px);
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.last-line {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.menu-open .line-menu.last-line {
  -webkit-transform: rotate(-90deg) translateX(-3px);
  -moz-transform: rotate(-90deg) translateX(-3px);
  -o-transform: rotate(-90deg) translateX(-3px);
  transform: rotate(-90deg) translateX(-3px);
}

/*** 5.0 - Menu Style ***/

.header-menu-wrap {
  display: flex;
}

.header-menu-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu-wrap ul li {
  display: inline-block;
  position: relative;
}

.header-nav-menu {
  padding-top: 15px;
}

.header-menu-wrap ul li > a {
  display: block;
  font-family: "Oxanium", sans-serif;
  font-size: 15px;
  letter-spacing: -0.2px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ddd;
  padding: 0;
  margin: 0 15px;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  position: relative;
  z-index: 1;
}

.header-menu-wrap ul li > a:before {
  background-color: #9841ff;
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  display: inline-block;
  width: 100%;
  height: 4px;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 0.3s cubic-bezier(0.45, 0.1, 0, 0.95);
  -o-transition: 0.3s cubic-bezier(0.45, 0.1, 0, 0.95);
  transition: 0.3s cubic-bezier(0.45, 0.1, 0, 0.95);
}

.header.dark-text .header-menu-wrap ul li > a {
  color: #0e1318;
}

.header-menu-wrap ul li.active > a,
.header-menu-wrap ul li:hover > a {
  color: #fff;
}

.header-menu-wrap ul li.active > a:before,
.header-menu-wrap ul li:hover > a:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.header-menu-wrap li ul {
  background-color: rgba(12, 13, 53, 0.95);
  box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 30%);
  border-radius: 2px;
  width: 220px;
  padding: 0;
  display: block;
  position: absolute;
  left: -35px;
  top: 50px;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  -webkit-transition: opacity 0.5s ease, visibility 0.5s ease;
  -o-transition: opacity 0.5s ease, visibility 0.5s ease;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.header-menu-wrap li:hover > ul {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}

.header-menu-wrap li li {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  text-align: left;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.header-menu-wrap li li:last-child {
  margin: 0;
  border-bottom: 0;
}

.header-menu-wrap li li > a {
  font-family: "Oxanium", sans-serif;
  display: block;
  height: auto;
  line-height: inherit;
  color: #bbb;
  font-weight: 600;
  font-size: 15px;
  text-transform: capitalize;
  line-height: 20px;
  letter-spacing: -0.2px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.header-menu-wrap li li > a:before {
  display: none;
}

.header-menu-wrap li li > a:hover {
  color: aliceblue#fff;
}

.header-menu-wrap li ul li ul {
  width: 220px;
  position: absolute;
  left: 100%;
  top: 0;
}

/* Media Query */
@media (min-width: 993px) {
  .header-menu-wrap li ul {
    display: block !important;
  }

  .sticky-fixed-top .header-menu-wrap li li:hover > a {
    color: #fff;
  }
}

@media (max-width: 992px) {
  .dropdown-plus {
    width: 49px;
    height: 49px;
    line-height: 49px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .dropdown-plus:before,
  .dropdown-plus:after {
    position: absolute;
    content: "";
    top: 21px;
    right: 10px;
    width: 10px;
    height: 2px;
    background-color: #6a7c92;
  }

  .dropdown-plus:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .dropdown-plus.dropdown-open:after {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .header-menu-wrap {
    background-color: #0c0c35;
    display: none;
    width: 100%;
    height: auto;
    padding: 0 20px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
  }

  .header-menu-wrap ul li {
    margin: 0;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }

  .header-menu-wrap ul li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }

  .header-menu-wrap ul li > a {
    padding: 10px 15px;
    height: inherit;
    line-height: inherit;
  }

  .header-menu-wrap li li:hover > a {
    background-color: transparent;
  }

  .header-menu-wrap ul li ul li ul,
  .header-menu-wrap ul li ul {
    background-color: transparent;
    width: 100%;
    opacity: 1;
    padding: 0;
    visibility: visible;
    position: inherit;
    display: none;
    top: inherit;
    left: inherit;
    box-shadow: none;
    padding-top: 11px;
  }

  .header-menu-wrap li li {
    padding: 0 20px;
  }

  .header-menu-wrap li li {
    padding-left: 10px;
  }

  .header-menu-wrap li li:last-child {
    border-bottom: none;
  }

  .header-menu-wrap ul li > a {
    color: #fff;
    font-size: 14px;
  }

  .header-menu-wrap li li > a {
    color: #ddd;
    font-size: 14px;
  }

  .header-menu-wrap li li:hover > a {
    color: #fff;
  }

  .header-menu-wrap ul li > a:before {
    display: none;
  }

  .sticky-fixed-top .line-menu {
    background-color: #ddd;
  }

  .line-menu {
    background-color: #ddd;
  }
}

@media (max-width: 580px) {
  .header-right a.dl-btn {
    line-height: 40px;
    font-size: 10px;
    padding: 0 25px;
  }

  .primary-header .header-logo {
    max-width: 150px;
  }

  .top-bar .top-left li {
    font-size: 12px;
  }

  .sticky-header {
    display: none;
  }
}

.primary-header-inner .header-right {
  display: flex;
  gap: 20px;
  align-items: center;
  line-height: 80px;
  margin-left: 20px;
}

.primary-header-inner {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.primary-header .header-logo {
  max-width: 150px;
}

.viewport-lg .primary-header .header-menu-wrap {
}

@media (max-width: 992px) {
  .primary-header-inner {
    padding: 0;
  }

  .sticky-header .primary-header-inner {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .header-menu-wrap {
    top: 100%;
  }

  .primary-header .header-logo {
    max-width: 180px;
  }
}

@media (max-width: 767px) {
  .primary-header .header-logo {
    max-width: 160px;
    padding: 15px 0;
  }
}

/*  */
.la,
.lab,
.lad,
.lal,
.lar,
.las {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.la-search:before {
  content: "\f002";
}

.la-search-dollar:before {
  content: "\f688";
}
.la-search-location:before {
  content: "\f689";
}
.la-search-minus:before {
  content: "\f010";
}
.la-search-plus:before {
  content: "\f00e";
}
.la-searchengin:before {
  content: "\f3eb";
}

.searches-icon {
  width: 30px;
  height: 30px;
}

.nav-bnt {
  padding-left: 100px;
}

.nav-bnt .nav-item .login_btn {
  background: #f90cff;
  background-image: linear-gradient(
    to right bottom,
    #f90cff,
    #e027ff,
    #c534ff,
    #a93eff,
    #8a44ff,
    #6560ff,
    #3c73ff,
    #0081ff,
    #009cff,
    #00b3ff,
    #00c6f5,
    #0cd7e8
  );

  clip-path: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
  color: #fff;
  font-family: "Oxanium", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
  display: inline-block;
  position: relative;
  min-width: 80px;
  height: 50px;
  padding: 20px 20px;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
  line-height: 14px !important;
  width: 100%;
}

.nav-bnt .nav-item .signup_btn {
  background: #f90cff;
  background-image: linear-gradient(
    to right bottom,
    #f90cff,
    #e027ff,
    #c534ff,
    #a93eff,
    #8a44ff,
    #6560ff,
    #3c73ff,
    #0081ff,
    #009cff,
    #00b3ff,
    #00c6f5,
    #0cd7e8
  );

  clip-path: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
  color: #fff;
  font-family: "Oxanium", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
  display: inline-block;
  position: relative;
  min-width: 80px;
  height: 50px;
  padding: 20px 20px;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
  line-height: 14px !important;
  width: 100%;
}

.nav-bnt .nav-item .login_btn:hover {
  font-size: 14px !important;
  line-height: 14px !important;
  padding: 12px 30px !important;
  width: 100%;
  text-align: left;
  border-radius: 0;
  background-color: none;
  color: var(--e-global-color-accent) !important;
}
.nav-bnt .nav-item .signup_btn:hover {
  font-size: 14px !important;
  line-height: 14px !important;
  padding: 12px 30px !important;
  width: 100%;
  text-align: left;
  border-radius: 0;
  background-color: none;
  color: var(--e-global-color-accent) !important;
}

.nav-bnt ul li {
  display: inline-block;
  position: relative;
}

.nav-bnt ul li > a {
  display: block;
  font-family: "Oxanium", sans-serif;
  font-size: 15px;
  letter-spacing: -0.2px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ddd;
  padding: 0;
  margin: 0 15px;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  position: relative;
  z-index: 1;
}

/*** 7.0 - Popup Search Box ***/
#popup-search-box {
  background-color: rgba(12, 13, 53, 0.95);
  position: fixed;
  width: 100%;
  height: 100%;
  top: -20em;
  left: 0;
  right: 0;
  white-space: nowrap;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 500ms ease all;
  -moz-transition: 500ms ease all;
  transition: 500ms ease all;
}

.box-inner-wrap:hover {
  cursor: url(../img/cross.png), auto;
}

#popup-search-box.toggled {
  top: 0;
  opacity: 1;
  visibility: visible;
}

#popup-search-box .box-inner-wrap {
  width: 100%;
  height: 100%;
}

#popup-search-box .box-inner-wrap form {
  position: relative;
  margin: 0 auto;
}

#popup-search-box .box-inner-wrap input::-webkit-input-placeholder {
  /* Edge */
  color: #444;
}

#popup-search-box .box-inner-wrap input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #444;
}

#popup-search-box .box-inner-wrap input::placeholder {
  color: #444;
  font-size: 36px;
}

#popup-search-box .box-inner-wrap input {
  background: rgba(255, 255, 255, 0.2);
  font-family: "Oxanium", sans-serif;
  width: 100%;
  padding: 20px 30px;
  padding-right: 80px;
  border: none;
  font-size: 36px;
  color: #fff;
  border-radius: 2px;
}

#popup-search-box .box-inner-wrap input::-webkit-input-placeholder {
  color: #ddd !important;
}

#popup-search-box .box-inner-wrap input::-moz-placeholder {
  /* Firefox 18- */
  color: #ddd !important;
}

#popup-search-box .box-inner-wrap input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ddd !important;
}

#popup-search-box .box-inner-wrap input:-ms-input-placeholder {
  color: #ddd !important;
}

#popup-search-box .box-inner-wrap input:focus {
  outline: none;
}

#popup-search-box .box-inner-wrap button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 100%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #ddd;
  font-size: 50px;
  -webkit-transition: 500ms ease all;
  -moz-transition: 500ms ease all;
  transition: 500ms ease all;
}

#popup-search-box .box-inner-wrap button:hover {
  color: #fff;
}

#popup-search-box .box-inner-wrap button:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  #popup-search-box .box-inner-wrap form {
    width: 90%;
  }

  #popup-search-box .box-inner-wrap input,
  #popup-search-box .box-inner-wrap button {
    font-size: 3em;
  }
}

/* section1  */
/* <section class="hero-section"> */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-section:before {
  background: linear-gradient(
    90deg,
    rgba(152, 65, 255, 0) 0%,
    rgba(152, 65, 255, 1) 50%,
    rgba(152, 65, 255, 0) 100%
  );
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.hero-section .container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-content {
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

.hero-content h4 {
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 20px;
}

.hero-content h1 {
  font-size: 65px;
  line-height: 65px;
  letter-spacing: -1.5px;
}

.hero-content img {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

/*** 1.2 - Hero Elements ***/
.hero-element {
  position: relative;
}

.hero-element .shape-wrap {
  width: 50%;
  height: 100%;
  position: absolute;
  left: -40px;
  bottom: 0;
  transform: skew(20deg);
  z-index: -1;
}

.hero-element .shape {
  background: #f90cff;
  background-image: linear-gradient(
    to right bottom,
    #f90cff,
    #e027ff,
    #c534ff,
    #a93eff,
    #8a44ff,
    #6560ff,
    #3c73ff,
    #0081ff,
    #009cff,
    #00b3ff,
    #00c6f5,
    #0cd7e8
  );
  width: 200px;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
}

.hero-element .shape:before {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25) 1px,
    transparent 1px,
    transparent 6px
  );
  background-size: 4px 4px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero-element .shape.shape-1 {
  width: 220px;
  height: 60%;
  left: 30%;
  z-index: 1;
  opacity: 0.8;
}

.hero-element .shape.shape-2 {
  height: 90%;
  left: 20%;
  opacity: 0.7;
}

.hero-element .shape.shape-3 {
  height: 70%;
  z-index: 2;
  opacity: 0.4;
}

.hero-element .shape.shape-4 {
  height: 40%;
  left: -10%;
  opacity: 0.6;
}

.hero-element .shape-wrap.right {
  transform: skew(-20deg);
  left: auto;
  right: -40px;
}

.hero-element .right .shape {
  left: auto;
  right: 0;
}

.hero-element .right .shape.shape-1 {
  left: auto;
  right: 30%;
}

.hero-element .right .shape.shape-2 {
  left: auto;
  right: 20%;
}

.hero-element .right .shape.shape-3 {
  left: auto;
}

.hero-element .right .shape.shape-4 {
  left: auto;
  right: -10%;
}

/* section 2 */
/*** 3.0 - Upcoming Matches ***/
.matches-list {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.matches-list:not(:last-of-type) {
  margin-bottom: 50px;
}

.detail-icon {
  text-align: center;
}

.detail-icon-img {
  width: 50px;
  height: 50px;
}

.participate-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 40%;
  text-align: right;
  position: relative;
  z-index: 1;
}

.participate-team img {
  max-height: 180px;
}

.participate-team:after,
.participate-team:before {
  background: #f90cff;
  background: linear-gradient(
    to right bottom,
    #f90cff,
    #e027ff,
    #c534ff,
    #a93eff,
    #8a44ff,
    #6560ff,
    #3c73ff,
    #0081ff,
    #009cff,
    #00b3ff,
    #00c6f5,
    #0cd7e8
  );
  clip-path: polygon(90% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 90%;
  height: 110px;
  transform: translateY(-50%);
  opacity: 0.3;
  border-radius: 5px;
  z-index: -1;
}

.participate-team:after {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25) 1px,
    transparent 1px,
    transparent 6px
  );
  background-size: 4px 4px;
}

.participate-team.oponent:after,
.participate-team.oponent:before {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
  right: auto;
  left: 0;
}

.participate-team.oponent {
  text-align: left;
}

.participate-team h3 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 5px 50px 0 0;
}

.participate-team.oponent h3 {
  margin: 5px 0 0 50px;
}

.match-info {
  background: #f90cff;
  background-image: linear-gradient(
    to right bottom,
    #f90cff,
    #e027ff,
    #c534ff,
    #a93eff,
    #8a44ff,
    #6560ff,
    #3c73ff,
    #0081ff,
    #009cff,
    #00b3ff,
    #00c6f5,
    #0cd7e8
  );
  clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0 60%, 0 0);
  border-radius: 3px;
  padding: 15px 20px;
  position: absolute;
  right: 35px;
  bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
}

.participate-team.oponent .match-info {
  clip-path: polygon(100% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
  right: auto;
  left: 35px;
}

.match-time h3 {
  font-size: 62px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin: 0;
}

.match-time h3 span {
  display: block;
  color: #ddd;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  letter-spacing: 0;
}

.match-time .watch-btn {
  text-align: center;
  margin-top: 10px;
}

.match-time .watch-btn li {
  display: inline-block;
  align-items: center;
}

.match-time a i {
  font-size: 30px;
}

/*** 5.6 - Pagination ***/
.pagination-wrap li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.pagination-wrap li a {
  background-color: rgba(152, 65, 255, 0.3);
  clip-path: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
  border: none;
  color: #ddd;
  width: 40px;
  height: 40px;
  line-height: 42px;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.pagination-wrap li a:hover,
.pagination-wrap li a.active {
  background-color: #9841ff;
  color: #fff;
  transform: translateY(-2px);
}

.pagination-wrap li a.active {
  transform: translateY(0);
}

/* max-width 992px */
@media (max-width: 992px) {
  .padding {
    padding: 50px 0;
  }

  .sm-padding {
    padding: 15px;
  }

  p br {
    display: none;
  }

  span br {
    display: none;
  }

  .default-btn {
    padding: 0 30px;
  }

  .post-card .post-content h3 {
    font-size: 20px;
    line-height: 26px;
  }
}

/* max-width 767px */
@media all and (max-width: 767px) {
  .grid-post {
    margin: 0;
  }

  .padding {
    padding: 50px 0;
  }

  .xs-padding {
    padding: 15px;
  }

  p br {
    display: none;
  }

  .author-box {
    display: block;
  }

  .author-thumb {
    margin-bottom: 20px;
  }
}

/* max-width 580px */
@media all and (max-width: 580px) {
  #scrollup {
    bottom: 20px;
    right: 20px;
  }
}

/* section3 */

/*** 6.0 - Watch Live ***/
.carousel-wrap {
  position: relative;
  overflow: hidden;
}

.watch-carousel {
  width: 150%;
  margin-left: -25%;
}

.watch-carousel .swiper-slide img {
  border-radius: 3px;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 30%);
  position: relative;
  margin-bottom: 5px;
  width: 100%;
}

.watch-carousel .swiper-slide-active img {
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 30%);
}

.watch-carousel .play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
}

.watch-carousel .swiper-slide-active .play-btn {
  visibility: visible;
  opacity: 1;
}

.swiper-nav {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  opacity: 0.7;
}

.swiper-nav:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-nav.swiper-next:before {
  left: auto;
  right: -5px;
}

.swiper-nav.swiper-next {
  left: auto;
  right: 30px;
}

.swiper-nav:hover {
  opacity: 1;
}

.swiper-nav:hover:before {
  scale: 1.05;
}

/* Hero Watch Carousel */
.hero-section-2 .watch-carousel {
  width: 120%;
  margin-left: -10%;
}
/*** 7.0 - Team ***/
.heading-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.outside-spacing {
  overflow: hidden;
  padding: 0 13px;
  margin: 0 -20px;
}

.team-carousel {
  position: relative;
}

.team-content {
  position: relative;
  margin-top: -15px;
}

.team-content h3 {
  background: #f90cff;
  background: linear-gradient(
    to right bottom,
    #f90cff,
    #e027ff,
    #c534ff,
    #a93eff,
    #8a44ff,
    #6560ff,
    #3c73ff,
    #0081ff,
    #009cff,
    #00b3ff,
    #00c6f5,
    #0cd7e8
  );
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  width: 90%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 30%);
}

.team-content h3:before {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25) 1px,
    transparent 1px,
    transparent 6px
  );
  background-size: 4px 4px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.team-content:before {
  background: #f90cff;
  background: linear-gradient(
    to right bottom,
    #f90cff,
    #e027ff,
    #c534ff,
    #a93eff,
    #8a44ff,
    #6560ff,
    #3c73ff,
    #0081ff,
    #009cff,
    #00b3ff,
    #00c6f5,
    #0cd7e8
  );
  clip-path: polygon(57% 0%, 100% 0%, 45% 100%, 0% 100%);
  border-radius: 3px;
  content: "";
  position: absolute;
  width: 40px;
  height: 60px;
  right: 5px;
  top: 0;
}

.team-content:after {
  background: #ddd;
  clip-path: polygon(57% 0%, 100% 0%, 45% 100%, 0% 100%);
  border-radius: 3px;
  content: "";
  position: absolute;
  width: 40px;
  height: 60px;
  right: -16px;
  top: 0;
}

.team-content .whte-shape {
  background-color: #fff;
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  border-radius: 3px;
  position: absolute;
  width: 60%;
  height: 60px;
  left: -10px;
  top: -10px;
}

.team-content h4 {
  background-color: #ddd;
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  color: #0c0c35;
  width: 60%;
  height: 25px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
  margin: -10px 0px 0px 20px;
}

.team-content h3 a {
  color: #fff;
  z-index: 1;
}

/*** 7.1 - Team Shape ***/
.team-thumb {
  position: relative;
}

.team-thumb .shape-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: skew(-5deg);
  z-index: -1;
}

.team-thumb .shape {
  background: #f90cff;
  background-image: linear-gradient(
    to right bottom,
    #f90cff,
    #e027ff,
    #c534ff,
    #a93eff,
    #8a44ff,
    #6560ff,
    #3c73ff,
    #0081ff,
    #009cff,
    #00b3ff,
    #00c6f5,
    #0cd7e8
  );
  clip-path: polygon(0% 0%, 80% 0, 100% 10%, 100% 100%, 0 100%);
  width: 150px;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s ease-in-out;
}

.team-thumb .shape:before {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25) 1px,
    transparent 1px,
    transparent 6px
  );
  background-size: 4px 4px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.team-thumb .shape.shape-1 {
  clip-path: polygon(0% 0%, 90% 0, 100% 10%, 100% 100%, 0 100%);
  width: 200px;
  height: 70%;
  left: 20%;
  z-index: 1;
  opacity: 0.8;
}

.team-thumb .shape.shape-2 {
  height: 100%;
  left: 30%;
  opacity: 0.7;
}

.team-thumb .shape.shape-3 {
  height: 90%;
  z-index: 2;
  opacity: 0.4;
  left: 30px;
}

.team-thumb .shape.shape-4 {
  height: 60%;
  left: 15px;
  opacity: 0.6;
}

.team-carousel .swiper-nav {
  left: -5px;
  z-index: 1;
}

.team-carousel .swiper-nav.swiper-next {
  left: auto;
  right: -5px;
}

@media (min-width: 767px) {
  .team-thumb .shape.shape-1 {
    height: 60%;
  }

  .team-thumb .shape.shape-2 {
    height: 90%;
  }

  .team-thumb .shape.shape-3 {
    height: 70%;
  }

  .team-thumb .shape.shape-4 {
    height: 40%;
  }

  .team-item:hover .team-thumb .shape.shape-1 {
    height: 70%;
    transition-delay: 200ms;
  }

  .team-item:hover .team-thumb .shape.shape-2 {
    height: 100%;
    transition-delay: 150ms;
  }

  .team-item:hover .team-thumb .shape.shape-3 {
    height: 90%;
    transition-delay: 100ms;
  }

  .team-item:hover .team-thumb .shape.shape-4 {
    height: 60%;
    transition-delay: 50ms;
  }
}

@media (max-width: 767px) {
  .team-carousel .swiper-slide {
    padding-left: 20px;
  }

  .team-carousel .team-content {
    width: 100%;
  }

  .team-carousel .team-content:before,
  .team-carousel .team-content:after {
    display: none;
  }

  .team-content h3 {
    justify-content: flex-start;
    padding-left: 65px;
  }

  .team-content h4 {
    justify-content: flex-start;
    padding-left: 46px;
  }
}

/*** 7.2 - Team Details ***/
.team-details-info {
  position: relative;
  z-index: 1;
}

.team-details-wrap {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 0 40px;
}

.team-details-wrap {
  background: #f90cff;
  background-image: linear-gradient(
    to right bottom,
    #f90cff,
    #e027ff,
    #c534ff,
    #a93eff,
    #8a44ff,
    #6560ff,
    #3c73ff,
    #0081ff,
    #009cff,
    #00b3ff,
    #00c6f5,
    #0cd7e8
  );
  clip-path: polygon(2% 0, 98% 0, 100% 50%, 98% 100%, 2% 100%, 0% 50%);
  height: 120px;
  border-radius: 10px;
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: -60px;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 30%);
}

.team-details-wrap:before {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25) 1px,
    transparent 1px,
    transparent 6px
  );
  background-size: 4px 4px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.team-details-wrap ul li:first-child {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  margin-right: 10px;
}

.team-details-wrap .social-list li a {
  background-color: rgba(12, 12, 53, 0.9);
  border-radius: 50%;
  clip-path: none;
  width: 30px;
  height: 30px;
  font-size: 12px;
}

.team-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-counter .counter-list {
  text-align: center;
  margin: 0;
}

.team-details-wrap ul .counter-list:first-child {
  margin: 0;
}

.team-counter .counter-list .odometer-inside span {
  font-family: "Oxanium", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
}

.team-counter .counter-list h4 {
  margin: 0;
  line-height: 1;
}

.team-details-wrap .rating {
  text-align: right;
}

.team-details-wrap .rating li {
  color: rgba(12, 12, 53, 0.9);
}

.about-team-section .section-heading p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*** 8.0 - Player Details ***/
.player-details .team-details-wrap {
  grid-template-columns: 1fr 1fr 2fr;
}

.player-details .team-details-wrap .social-list {
  text-align: center;
}

.player-team {
  display: flex;
  align-items: center;
}

.player-team img {
  max-width: 80px;
  margin-right: 10px;
}

.player-team h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.player-info {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: flex-end;
}

.player-info li > div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.player-info li .flag {
  max-width: 20px;
}

.player-info li i {
  font-size: 20px;
}

.player-info li span {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  margin-left: 5px;
  margin-top: 2px;
}

.player-info li h4 {
  display: block;
  margin: 0;
}

.player-thumb img {
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 30%);
}

.team-carousel .swiper-nav {
  left: 5px;
}

.team-carousel .swiper-nav.swiper-next {
  right: 5px;
}

/* .team-section:before {
  background: linear-gradient(
    90deg,
    rgba(152, 65, 255, 0) 0%,
    rgba(152, 65, 255, 1) 50%,
    rgba(152, 65, 255, 0) 100%
  );
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.team-section .container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
} */

/* section 4 */
.team-member {
  background-repeat: no-repeat;
  background-position: top;
}

.team-member .profile-image img {
  width: 100%;
}

.team-member .slick-list {
  margin-bottom: 125px;
}

.team-member .single-box {
  text-align: center;
  transition: 0.3s;
  border-radius: 20px;
  box-shadow: 0px 17px 19px rgba(109, 100, 139, 0.1);
  background-color: var(--bs-white);
  padding: 10px;
  margin: 0 15px;
  margin-bottom: 25px;
}

.team-member .single-box:hover {
  box-shadow: 0px 17px 19px rgba(109, 100, 139, 0.31);
}

.team-member .single-box h5 {
  margin: 16px 0 13px;
}

.team-member .single-box p {
  color: var(--primary-color);
  width: 80%;
  margin: auto;
}

.team-member .single-box .social {
  margin-top: 25px;
  margin-bottom: 20px;
}

.team-member .single-box .social a {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(210, 196, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
  margin: 0 10px;
}

.team-member .single-box .social a i {
  color: #9c94b4;
}

.team-member .single-box .social a:hover {
  background-color: #ff7a1f;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.team-member .single-box .social a:hover i {
  color: var(--bs-white);
}

.cus-mar {
  margin-bottom: -30px;
}

.slick-arrow {
  position: absolute;
  outline: none;
  bottom: 40px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #e2d9fd;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.slick-arrow::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid rgba(58, 34, 116, 0.5);
}

.slick-arrow i {
  color: var(--bs-white);
  font-size: 14px;
}

.slick-arrow:hover {
  background-color: var(--primary-color);
  transition: all 0.5s;
}

.slick-arrow:hover::before {
  border-color: var(--primary-color);
}

.slick-arrow.slick-prev {
  left: calc(50% - 110px);
  z-index: 2;
}

.slick-arrow.slick-next {
  right: calc(50% - 110px);
}

/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/*** 17.0 - Footer ***/
.footer-section {
  position: relative;
  padding-top: 100px;
}

.footer-item .brand {
  display: block;
  margin-bottom: 20px;
}

.footer-item .social-list {
  margin-top: 25px;
}

.social-list li {
  display: inline-block;
}

.social-list li:not(:last-of-type) {
  margin-right: 5px;
}

.social-list li a {
  background-color: rgba(152, 65, 255, 0.3);
  font-size: 14px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
}

.social-list li a:hover {
  background-color: #9841ff;
  color: #fff;
  transform: translateY(-2px);
}

.social-list img {
  width: 20px;
  height: 20px;
}

/* gamer */
.pagination-page {
  text-align: center;
}

/* match-detail-time */
.match-detail-time li {
  display: inline-block;
  padding-right: 10px;
}
