<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/swiper.min.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/post.css" />
  </head>
  <body class="loaded">
    
<div layout:fragment="content">
    <section class="page-header">
      <div class="page-header-shape">
        <div class="shape"></div>
        <div class="shape right"></div>
      </div>
      <div class="container">
        <div class="matches-section padding">
          <div class="container">
            <ul class="upcoming-matches">
              <li class="matches-list">
                <div
                  class="participate-team wow fade-in-left"
                  data-wow-delay="200ms">
                  <img src="/images/team-logo-1.png" alt="team" />
                  <h3><a href="/team/detail">Team Name Team Name</a></h3>
                  <div class="match-info">Group ID | Rank 07</div>
                </div>
                <div class="match-time">
                  <h3>10:00 <span>2023-02-10</span></h3>
                   <div class="detail-icon">
                <a href="/match/detail"
                  ><img
                    src="/images/detail-icon1.png"
                    alt=""
                    class="detail-icon-img"
                /></a>
              </div>
                </div>
                <div
                  class="participate-team oponent wow fade-in-right"
                  data-wow-delay="200ms">
                  <h3><a href="/team/details">Team Name Team Name</a></h3>
                  <div class="match-info">Group ID | Rank 01</div>
                  <img src="/images/team-logo-2.png" alt="team" />
                </div>
              </li>
              <!-- /.matches-list-1 -->
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- /.page-header -->

    <section class="blog-section blog-page padding-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div>
              <ul class="match-detail-time pt-3">
                <li>User ID</li>
                <li>2023-02-01</li>
              </ul>
            </div>
            <div class="post-details">
              <div class="post-thumb">
                <img src="/images/post-1.jpg" alt="img" />
              </div>
              <p>
                Financial experts support or help you to to find out which way
                you can raise your funds more. Arkit a trusted name for
                providing assistants. Initially their main objective was to
                ensure the service they provide these people are loyal to their
                industry, experienced and professional.
              </p>

              <p>
                Unless you are the one who really cares about this, it is not
                terribly important. What all matters are how your hybrid mobile
                application development is going to work in the long run as no
                one will care about how it was built.
              </p>

              <blockquote>
                <i class="fas fa-quote-right"></i>
                There are no secrets to success. It is the result preparation,
                hard work and learning from failure.<span
                  >- Winston Churchill.</span
                >
              </blockquote>

              <p>
                There are some big shifts taking place in the field of
                construction equipment mathematics. Starting with the
                integration of mathematics devices in vehicles right from the
                manufacturers, to the standardization and integration of
                mathematics data across various business functions, the future
                of mathematics has never seemed so full of potential for
                fleet-based businesses.
              </p>

              <ul class="post-details-gallery">
                <li><img src="/images/post-1.jpg" alt="img" /></li>
                <li><img src="/images/post-2.jpg" alt="img" /></li>
              </ul>
              <!--Gallary-->

              <h3>Creative approach to every project</h3>
              <p>
                Financial experts support or help you to to find out which way
                you can raise your funds more. Arkit a trusted name for
                providing assistants. Initially their main objective was to
                ensure the service they provide these people are loyal to their
                industry, experienced and professional.
              </p>
              <p>
                Another speaker, John Meuse, senior director of heavy equipment
                at Waste Management Inc., echoed this, citing a cost-saving of
                $17,000 for the company when it cut idling time of a single
                Caterpillar 966 wheel loader.
              </p>

              <ul class="tags">
                <li><a href="#">Business</a></li>
                <li><a href="#">Marketing</a></li>
                <li><a href="#">Startup</a></li>
                <li><a href="#">Design</a></li>
              </ul>
              <!--Tags-->

              <ul class="post-navigation">
                <li>
                  <a href="blog-details.html"
                    ><span><i class="las la-angle-left"></i>Previous</span>How
                    To Start Initiating An Startup In Few Days.</a
                  >
                </li>
                <li>
                  <a href="blog-details.html"
                    ><span>Next<i class="las la-angle-right"></i></span>Fresh
                    Startup Ideas For Digital Business.</a
                  >
                </li>
              </ul>
              <!--Post Navigations-->

              <div class="comment-post pt-100">
                <h3 class="comment-title">Post Comments</h3>
                <ul class="comments-box">
                  <li class="comment">
                    <div class="comment-inner">
                      <div class="comment-thumb">
                        <img src="/assets/img/comment-1.png" alt="img" />
                      </div>
                      <div class="comment-wrap">
                        <div class="comments-meta">
                          <h4>User Name <span>2023-02-10</span></h4>
                        </div>
                        <div class="comment-area">
                          <p>
                            You guys have put so much work, effort, and time
                            while designing this awesome theme I can see that
                            passion when I incorporated it into my website.
                          </p>
                          <a href="#" class="reply">Reply</a>
                        </div>
                      </div>
                    </div>
                    <ul class="children">
                      <li class="comment">
                        <div class="comment-inner">
                          <div class="comment-thumb">
                            <img src="/assets/img/comment-2.png" alt="img" />
                          </div>
                          <div class="comment-wrap">
                            <div class="comments-meta">
                              <h4>User Name <span>2023-02-10</span></h4>
                            </div>
                            <div class="comment-area">
                              <p>
                                The only thing I LOVE more than this theme and
                                it’s incredible options is the support team!
                                They are freaking amazable!
                              </p>
                              <a href="#" class="reply">Reply</a>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>

                  <li class="comment">
                    <div class="comment-inner">
                      <div class="comment-thumb">
                        <img src="/assets/img/comment-3.png" alt="img" />
                      </div>
                      <div class="comment-wrap">
                        <div class="comments-meta">
                          <h4>User Name <span>2023-02-10</span></h4>
                        </div>
                        <div class="comment-area">
                          <p>
                            Outstanding quality in this theme, brilliant Effects
                            and perfect crafted Code. We absolutely love it and
                            can highly recommend ThemeEaster!
                          </p>
                          <a href="#" class="reply">Reply</a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!--Comments-->

              <div class="pt-50">
                <h3 class="comment-title">Leave a Comment</h3>
                <form
                  action="#"
                  method="post"
                  class="comment-form form-horizontal">
                  <div class="form-group row">
                    <div class="col-md-12 padding-15">
                      <textarea
                        id="comment"
                        name="comment"
                        cols="30"
                        rows="5"
                        class="form-control comment"
                        placeholder="Your Comment*"
                        required></textarea>
                    </div>
                    <div class="col-md-12 padding-15">
                      <button id="" class="default-btn" type="button">
                        <a href="/match">Back</a> <span></span>
                      </button>
                      <button id="submit" class="default-btn" type="submit">
                        Submit Comment<span></span>
                      </button>
                      <div id="form-messages" class="alert" role="alert"></div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Blog Section-->

    

    </div>
  </body>
</html>
